#features-section-side-grid-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
	#features-section-side-grid-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
