.focusState {
	box-shadow: 0px 0px 4px 3px rgba(67, 56, 202, 0.5);
	-webkit-box-shadow: 0px 0px 4px 3px rgba(67, 56, 202, 0.5);
	-moz-box-shadow: 0px 0px 4px 3px rgba(67, 56, 202, 0.5);
	outline: none;
}

.dropdownDisabledState {
	opacity: 0.7;
	background-color: inherit;
}

.dropdownMenuList {
	transform-origin: top center;
}
